body {
	background: url(http://subtlepatterns.com/patterns/old_mathematics.png);
  font-family: 微軟正黑體;
}

.navbar .nav.pull-center {
  float: none;
  margin: 0 auto;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
  height: 40px;
}

#xlogo {
	height: 60px;
  position: relative;
  top: -10px;
}

.content {
  margin-top: 100px;
  text-align:center;
}

.newsroom {
  color: black;
  text-align: center;
}

.nail {
  box-shadow: 0 10px 6px -6px black;
  height: 200px;
  width: 200px;
}

.bigNail {
  box-shadow: 0 10px 6px -6px black;
}

#fb-login{
  position: relative;
  font-size: 72px;
  text-decoration: none;
  top: 10%;
  left: 50%;
}

#fb-login:hover {
  text-decoration: none;
}

